.services {
  display: flex;
  align-items: center;
  justify-content: space-around;
  position: relative;
  flex-wrap: wrap;
  bottom: 5em;
  flex-direction: column;
}
.service__center{
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.separation {
  background: rgb(247,249,250);
  background: linear-gradient(90deg, rgba(247,249,250,0.3449754901960784) 3%, rgba(14,14,14,0.6643032212885154) 49%, rgba(255,255,255,0.7539390756302521) 97%);
  width: 55%;
  margin: auto;
  margin-top: 5em;
  height: 1px;
  /* box-shadow: 1px 4px 5px 2px rgba(0, 0, 0, 0.2); */
}

.services__image-container{
  margin-right: 22em;
}

.services__text{
  font-size: 1.5em;
  margin: 3px;
}
ul {
  list-style-type: none;
}
@media screen and (max-width: 768px) {
  .services {
    bottom: initial;
    flex-direction: column;
  }
  
  
  .services__text {
    font-size: 1.2em;
  }
  .services__diamond{
    display: flex;
  }
  .service__center {
    display: flex;
    justify-content: start;
    max-width: 100%;
    /* align-items: center; */
    flex-direction: column;
}
.services__image-container{
  margin-right: 0;
}

}

