/* .services{
  display: flex;
  align-items: center;
  justify-content: space-around;
  clip-path: polygon(0 0, 100% 0, 100% 80%, 50% 100%, 0 80%);
} */
.services {
  display: flex;
  align-items: center;
  justify-content: space-around;
  position: relative;
  background-color: white; /* spécifiez la couleur de fond */
  overflow: hidden;
  clip-path: polygon(0 0, 100% 0, 100% 80%, 50% 100%, 0 80%);
}

.services::before {
  content: "";
  position: absolute;
  bottom: -10px; /* ajustez la position de l'ombre du bas */
  left: 0;
  width: 100%;
  height: 50px; /* ajustez la hauteur de l'ombre */
  background: linear-gradient(to top, rgba(0,0,0,0.3), transparent);
  filter: blur(10px); /* ajustez le flou de l'ombre */
}


/* .services__text{
  text-align: center;
} */

.services__text{
  font-size: 1em;
}
