.about-container{
    display: flex;
    position: relative;
    bottom: 10em;
    
}
.left-box{
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 3em;
    text-align: center;
}
@media screen and (max-width: 768px) {
    .about-container {
      bottom: initial;
      flex-direction: column;
      align-items: flex-start;
    }
    
    .left-box {
      margin: 1em;
      text-align: left;
    }
    .who_img{
      display: none;
    }
  }
  