.about-container{
    display: flex;
    padding-bottom: 5em;
    padding-top: 2em;
    
}
.left-box{
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 3em;
    text-align: center;
}