.header {
  background-size: cover;
  background-position: center;
  position: relative;
  background-image: none;
    /* La hauteur de l'image de l'en-tête */
    /* Le reste de la hauteur de l'écran */
    min-height: calc(115vh - 300px);
    /* Permet d'empêcher le contenu de déborder de la hauteur de l'écran */
}

.header__image {
  display: block;
  width: 100%;
  height: auto;
  background-repeat: no-repeat;
  clip-path: polygon(0 0, 100% 0, 100% 50%, 0 50%);
}

.header__navigation {
  display: flex;
  height: 180px;
  width: 100%;
  font-size: 1.4em;
  color: #0c0b0b;
  font-weight: bold;
}
.title__site{
  display: flex;
  align-items: center;  
  margin-left: 2em;
  font-size: larger; 
  font-weight: bold;
}
.list__site {
  display: flex;
  left: 25em;
  top: 2em;
  position: absolute;
  list-style: none;
}

.header__navigation li {
  margin: 0 20px;
  left: 25em;
  position: relative;
  display: flex;
  align-items: center;
}


/* .header__navigation a {
  color: #fff;
  text-decoration: none;
} */

.header__imageLetter{
  width: 15%;
}

