.footer__bottom {
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.87);
    height: 50px;
    width: 100%;
    font-size: 1.4em;
    color: white;
    flex-direction: column;
    flex-wrap: wrap;
  }
  @media screen and (max-width: 768px) {
    .footer__bottom {
      height: auto;
      padding: 10px;
      font-size: 1em;
      /* flex-direction: row; */
      justify-content: space-between;
      /* align-items: center; */
      width: auto;
    }
  }
  