.find{
    display: flex;
    align-items: center;
    justify-content: space-around;
    position: relative;
    bottom: 20em;
    
}


.find__text-container{
    font-size: 1.5em;
    font-weight: bold;
}
  